1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* , - , / , + these are expressions
'hello' is a string
-87.9 is a floaat
6 is an integer

2. What is the difference between string and variable?

string a class or reference datatype . it is used to represent text type data where,
variable is any alphabet or group of alphabet which work as temporary storage locations , a variable is used to represent any value

3. Describe three different data types.

1. int :- int means integer which stores the interger values only 
2. string :- string is immutable and used to store the character values
3. float :- float used to stores the values which is in decimal
4. boolean :- boolean used to return the true or false the value which is 0 is false and all the other values are true

4. What is an expression made up of? What do all expressions do?

An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression evaluates to a single value. A statement does not.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon +1

23

bacon = 23


7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [2]:
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

both terms will return 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

eggs is valid because it follows the rules of naming a variable by starting the variable name with a character but 100 is not valid because it starts with numeric

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

1.int()
2.float()
3.string()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [5]:

'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

it can only concatenate str (not "int") to str

so we have to convert 99 into string by adding '' like '99'

In [6]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'